@charset "utf-8";
/* CSS Document */
body
{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}


.h-100{
	height: 100vh;
}

.h-80{
	height: 80vh;
}

.bg-img
{
	width:80%;
	height:80%;
	margin: auto;
	margin-top: 7vh;
	align-items: center;
	background-color: #999;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	border-radius: 50px;
}

.slogn{
	font-size: 90px;
	/* border: 5px solid #ccc; */
}

.about{
	font-size: 150px;
}

.about-us{
	font-size: 50px;
}

.about-img{
	width:100%;
	height:100%;
	margin: auto;
	background-color: #999;
	background-image: url(../img/18.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
}

.postwall{
	background-image: url(../img/19.jpg);
	background-size: cover;
	background-position: center;
}

.post{
	position: relative;
}

.post+p {
    opacity: 0;
    position: relative;
    top: -200px;
    left: 10px;
    background-color: rgb(74, 74, 74,0.5);
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.card-img{
	width: 100%;
	margin: auto;
	display: block;
}

.footer{
	padding: 50px;
}

.footer-header{
	font-size: 20px;
}
p > a{
	text-decoration: none;
	color: black;
}
p > a:hover{
	text-decoration: none;
	color: #ccc;
}
.icon > a{
	text-decoration: none;
}
.icon > a:hover{
	text-decoration: none;
}

.copyright{
	height: 10vh;
	width: 100%;
	background-color: black;
	padding-top: 50px;
	color: #ffffff;
}
.copyright > p{
	text-align: center;
	margin: auto;
}
