@charset "utf-8";

/* CSS Document */
body {
	padding: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	margin: 0;
}

.navbar-brand:hover{
	text-decoration: none;
}


.vh-100 {
	height: 100vh;
}

.h-80 {
	height: 80vh;
}

.w-80 {
	width: 90%;
}

.bg-img {
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 7vh;
	align-items: center;
	background-color: #999;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50px;
}

/* .main{
	flex-grow: 1;
	height: 100vh;
} */

.more-new {
	width: 300px;
	height: 50px;
	background-color: #000;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	border-radius: 5px;
}

.more-new>a {
	text-decoration: none;
	color: white;
}

.text-none{
	text-decoration: none;
	color: #ffffff;
}
.text-none:hover{
	text-decoration: none;
}

.slogn {
	font-size: 90px;
	/* border: 5px solid #ccc; */
}

.about {
	font-size: 150px;
}

.sold {
	font-size: 50px;
	text-align: center;
}

.about-us {
	font-size: 50px;
}

.about-img {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #999;
	background-image: url(../img/18.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.item-img {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #999;
	background-image: url(../img/22.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.postwall {
	background-image: url(../img/19.jpg);
	background-size: cover;
	background-position: center;
}

.item-box {
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;

}

.item-box>p {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	white-space: nowrap;
	font-weight: 700;
	font-size: 40px;
	color: #feda77;
}

.carousel-item>img {
	height: 60vh;
	object-fit: cover;
	justify-content: center;
	margin: auto;
}


.post {
	transition: transform 0.2s ease;
	display: block;
	filter: brightness(60%);
	margin: auto;
	height: 50%;
	width: 80%;

}

.post:hover {
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.card-img {
	width: 100%;
	margin: auto;
	display: block;
	width:400px;
	height:400px;
	object-fit:cover;
}

.shop-btn {
	width: 300px;
	height: 50px;
	background-color: #000;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	border-radius: 5px;
}

.shop-btn>a {
	text-decoration: none;
	color: white;
}

.nav-link{
	color: #999;
}

.nav-link:hover{
	text-decoration: none;
}



.footer {
	padding: 50px;
	height: 270px;
}

.footer-header {
	font-size: 20px;
}

p>a {
	text-decoration: none;
	color: black;
}

p>a:hover {
	text-decoration: none;
	color: #ccc;
}

.icon>a {
	text-decoration: none;
}

.icon>a:hover {
	text-decoration: none;
}

.copyright {
	height: 90px;
	width: 100%;
	background-color: black;
	padding-top: 50px;
	color: #ffffff;
}

.copyright>p {
	text-align: center;
	margin: auto;
}