@charset "utf-8";

/* CSS Document */
body {
	padding: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: "微軟正黑體"
}

#navbar {
	height: 10vh;
}

nav.navbar.navbar-expand-lg.fixed-top.p-0 {
	/* border-bottom: solid 1px #f3f3f1; */
	transition: 0.5s;
}

nav.navbar.navbar-expand-lg.fixed-top.p-0.navbar-gb {
	background-color: white;
	box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.8);
}

nav {
	.hover {
		color: white;
		transition: 0.5s
	}

	.hover:hover {
		color: #e0a297 !important;
	}

	.logo {
		font-size: 40px;
		font-weight: bold;
		color: white;
		transition: 0.5s
	}

	.fa-burger {
		transition: 0.5s
	}

	.navbar-nav {
		margin-left: auto;
	}

	.navbar-brand {
		margin-left: 30px;
	}

	.navbar-brand:hover {
		text-decoration: none;
	}
}
@media (max-width: 767.98px) {

	/* Adjust font size for small devices (phones) */
	nav.logo {
		justify-content: center;
	}
}

.member-login {
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 20vh;
	width: 30%;
	padding: 50px;
}

.main-bg{
	background-color: #d9d6cf;
}

.vh-100 {
	height: 100vh;
}

.h-80 {
	height: 80vh;
}

.w-80 {
	width: 90%;
}

.bg-img {
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 15vh;
	/* align-items: center; */
	object-fit: cover;
	border-radius: 50px;
	box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.8);
}


.shop-btn {
	/* width: 100%; */
	height: 20vh;
	text-align: center;
	background-color: #4a4a4a;
	border-radius: 0;
}

.more-new {
	width: 300px;
	height: 50px;
	background-color: #000;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	border-radius: 5px;
}

.more-new>a {
	text-decoration: none;
	color: white;
}

.text-none {
	text-decoration: none;
	color: #ffffff;
}

.text-none:hover {
	text-decoration: none;
}

.slogn {
	font-size: 90px;
	color: #ffffff;
	padding-left: 10px;
	/* border: 5px solid #ccc; */
}

@media (max-width: 991.98px) {

	/* Adjust font size for medium devices (tablets) */
	.slogn {
		font-size: 60px;
	}
}

@media (max-width: 767.98px) {

	/* Adjust font size for small devices (phones) */
	.slogn {
		font-size: 40px;
	}
}

.fs-90 {
	font-size: 90px;
}
@media (max-width: 991.98px) {

	/* Adjust font size for medium devices (tablets) */
	.fs-90 {
		font-size: 60px;
	}
}

@media (max-width: 767.98px) {

	/* Adjust font size for small devices (phones) */
	.fs-90 {
		font-size: 40px;
	}
}

.fs-50 {
	font-size: 50px;
}
@media (max-width: 767.98px) {

	/* Adjust font size for small devices (phones) */
	.fs-50 {
		font-size: 30px;
	}
}

.about-img {
	width: 100%;
	height: 100%;
	/* margin: auto; */
	object-fit: cover;
}

.sold {
	font-size: 50px;
	text-align: center;
}

.story-img {
	width: 100%;
	height: 100%;
	background-color: #999;
	background-image: url(../img/adrian-infernus-77eaFI4BV5o-unsplash.jpg);
	background-attachment: fixed;
	background-size:cover;
	/* background-repeat: no-repeat; */
	background-position: center center;
}
.item-img {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #999;
	background-image: url(../img/thanos-pal-Djs02AtkOm4-unsplash.jpg);
	/* background-attachment: fixed; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.postwall {
	background-image: url(../img/19.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
hr.white{
	margin: auto;
	max-width: 500px;
	border: 0;
	height: 3px;
	background-image: linear-gradient(to right, rgba(24,24,24,0), rgba(24,24,24,0.8), rgba(24,24,24,0));
	filter: drop-shadow(3px 3px 4px #aaa);
}

.item-box {
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;

}

.item-box>p {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	white-space: nowrap;
	font-weight: 700;
	font-size: 40px;
	color: #feda77;
}

.carousel-item>img {
	height: 60vh;
	object-fit: cover;
	justify-content: center;
	margin: auto;
}


.post {
	transition: transform 0.2s ease;
	display: block;
	filter: brightness(60%);
	margin: auto;
	height: 50%;
	width: 80%;

}

.post:hover {
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.card-img {
	width: 100%;
	margin: auto;
	display: block;
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.shop-btn {
	width: 300px;
	height: 50px;
	background-color: #000;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	border-radius: 5px;
}

.shop-btn>a {
	text-decoration: none;
	color: white;
}

.nav-link {
	color: #999;
}

.nav-link:hover {
	text-decoration: none;
}



.footer {
	padding: 50px;
	height: 270px;
}

.footer-header {
	font-size: 20px;
}

p>a {
	text-decoration: none;
	color: black;
}

p>a:hover {
	text-decoration: none;
	color: #ccc;
}

.icon>a {
	text-decoration: none;
}

.icon>a:hover {
	text-decoration: none;
}

.copyright {
	height: 90px;
	width: 100%;
	background-color: black;
	padding-top: 50px;
	color: #ffffff;
}

.copyright>p {
	text-align: center;
	margin: auto;
}